brotli
c-ares
ca-certificates
certifi
gdbm
icu4c
jupyterlab
libnghttp2
libsodium
libuv
libyaml
mpdecimal
node
openssl@3
pandoc
pipenv
pyinstaller
python-tk@3.12
python-tk@3.9
python@3.12
python@3.9
readline
sqlite
tcl-tk
xz
zeromq
